.login-area {
  display: flex;
  justify-content: end;
  align-items: center;

  .login-btn {
    
    &:hover {
      color: #165DFF;
      cursor: pointer;
    }
  }

  .register-btn {
    margin-left: 20px;
  }
}