.home-btn {
  position: fixed;
  z-index: 100;
  bottom: 74px;
  right: 60px;
  border: 1px solid rgb(229, 230, 235) !important;
  border-radius: 50%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);

  button {
    height: 40px;
    height: 40px;
  }
}