.creation-center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 20px;
  height: calc(100vh - 58px);
  margin-bottom: -20px;
}

.creation-data-wrapper {
  margin-top: 20px;
}