.count-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.count-item-title {
  color: rgb(29, 33, 41);
  font-size: 13px;
  width: 100%;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.count-item-main {
  height: 50px;
  display: flex;
}

.count-item-icon-area {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 8px;
  border-radius: 10px;
  font-size: 26px;
}

.count-item-num {
  font-size: 26px;
  line-height: 40px;
}