.search-area {
  display: flex;

  .logo-area {

    img {
      margin-top: 6px;
      height: 35px;
    }
  }

  .input-area {
    flex: 1;
    display: flex;
    padding-left: 10px;
    align-items: center;
  }
}