.point-modal {
  background: white;

  > div {
    width: 100%;
  }
  cursor: pointer;
}

.point-info {
  padding: 20px;
}

.point-user-info {
  display: flex
}

.point-user-info-avatar {
  width: 60px;
  text-align: center;

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.point-user-info-other {
  flex: 1;
  padding-left: 10px;

  .user-info-name {
    font-weight: bold;  
    line-height: 20px;
  }

  .user-info-description {
    color: #8a919f;
    font-size: 14px;  
    line-height: 30px;
    position: relative;

    .user-info-delete {
      position: absolute;
      right: 50px;
      top: 0;
    }
  }
}

.point-operate {
  display: flex;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 10px;

  > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.point-content-info {
  margin-left: 70px;
  font-size: 14px;
}

.point-content-image {
  margin-left: 70px;
}

.point-tag-item {
  color: #1E80FF;
  margin-right: 6px;
}