.comment-editor {

  .comment-editor-main {
    display: flex;
    flex-wrap: wrap;
  }

  &-avatar {
    width: 60px;    
  }

  &-text-area {
    flex: 1;
  }

  &-btn-area {
    padding-top: 15px;
    text-align: right;
  }
}