.login-tip {
  width: 100%;
  border-radius: 5px;
  background: white;
  padding: 20px;
  box-sizing: border-box;
  box-sizing: 0 0 0 1px rgba(23, 23, 23, 0.05);
  border: 0.5px solid rgba(75, 74, 74, 0.2);

  .main-text {
    font-size: 20px;
    font-weight: bold;

    > span {
      color: #3B49DF;
    }
  }

  .description-text {
    margin: 10px 0;
    font-size: 16px;
    color: #575757;
  }

  .btn-area {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .login-area {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
}