.point-page {
  width: 100%;

  &-editor {
    padding: 20px;
    box-sizing: border-box;
    background: white;
  }

  &-list {
    margin-top: 20px;
    
    > div {
      margin-bottom: 20px;
    }
  }
}
