.skeleton-page {
  width: 100vw;
  height: calc(100vh) ;
  background: red;
  margin-top: -56px;
  margin-bottom: -20px;
  box-sizing: border-box;
  padding: 40px;
  background: white;
  overflow-y: hidden;
}