.comment-item {

  .comment-item-main {
    display: flex;
    flex-wrap: wrap;
  }

  &-avatar {
    width: 60px;    
  }

  &-content {
    flex: 1;
  }
}

.comment-author {
  font-style: 14px;
  font-weight: bold;
}

.comment-author-info {
  margin-left: 40px;
  color: #8a919f;
  font-weight: normal;
}

.comment-content {
  color: #515767;
  margin-top: 10px;
  font-size: 14px;
}

.comment-btn-area {
  padding-bottom: 10px;
}

.comment-children-area {
  padding: 10px;
  padding-top: 10px;
}

.comment-reply {
  margin-left: 20px;
  color: #8a919f;

  &-username {
    margin-left: 20px;
    color: black;
  }
}