.setting-page-wrapper {
  margin-top: 76px;
}

.setting-page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  margin-top: 10px;
  padding: 20px 0;
}

.setting-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 1000px;
}

.setting-main {
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  background: white;
  padding: 5px 25px ;
  margin-bottom: 30px;
}