.section-item-wrapper {
  position: relative;
  height: 80px;
  display: flex;
  box-sizing: border-box;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #f7f7f7;
    cursor: pointer;
  }
}

.active {
  
  .section-item-index, .section-item-info {
    color: #1e80ff;
  }

  &::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 4px;
    background: #1e80ff;
    left: 0;
  }
}

.section-item-index {
  width: 60px;
  text-align: center;
  color: #8a919f;
}

.section-item-info {
  flex: 1;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.section-item-status {
  padding-top: 3px;
  color: #8a919f;
  font-size: 14px;
}