.author-list {
  background: white;
  width: 100%;
  margin-top: 10px;

  border-radius: 5px;
  border: 0.5px solid rgba(196, 196, 196, 0.2);
}

.author-title {
  font-weight: 700;
  color: #090909;
  font-size: 17px;
  margin-right: 10px;
}